.cross {
  color: rgb(114, 108, 108);
  font-size: 40px;
  height: 30px;
  width: 30px;
}
.check {
  color: rgb(114, 108, 108);
  font-size: 40px;
  height: 30px;
  width: 30px;
}
.modal {
  background-color: rgb(175, 221, 157);
  height: 200px;
  width: 400px;
  border-radius: 12px;
  color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: start;
  margin-left: auto;
  margin-right: auto;
}

.modal-body {
  display: flex;
  flex-direction: row;
}
.btnPlus {
  width: 20px;
  height: 20px;
  color: white;
  background-color: green;
  border-radius: 10px;
  margin: 2px;
}
.btnSub {
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 10px;
  background-color: red;
  margin: 2px;
}
h6 {
  font-size: 10px;
}

.modal-btn {
  display: flex;
  flex-direction: row-reverse;
}

p {
  color: white;
}

.btn-primary {
  background-color: blue;
  color: white;
  height: 40px;
  width: 150px;
  border-radius: 12px;
  margin-left: 10px;
}
.btn-secondary {
  background-color: crimson;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 12px;
}
